
body{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 15px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    background: #E5E5E5;
    
}
.logo{
    order: 1;
    margin-top: 15px;
    margin-left: 15px;

}
.text-area{
    font-family: 'Inter';
    font-style: normal;
    margin-top: 20%;
    border: none;
    outline: none;
    resize: none;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    width: 688px;
    height: 48px;
    background-color: transparent;
}
.text-area::placeholder{color: #0A3871;}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: stretch;
    gap: 50px;
}

.informacao{
    margin-top: 30%;
    color: #495057;
    font-size: 18px;
}
.botoes{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

}
.btn-criptografar{
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    /* Inside auto layout */
    cursor: pointer;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    transition: background-color 0.3s ease-in-out;
}

.btn-criptografar:hover {
    background-color: #0D4D91;
    border: 3px;
    font-size: 24px;
}

.btn-criptografar:active {
    background-color: #072E57;
}

.btn-descriptografar{
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;
    cursor: pointer;
    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    transition: background-color 0.3s ease-in-out;
}

.btn-descriptografar:hover {
    background-color: #C0C9D3;
    border: 3px;
    font-size: 24px;
}

.btn-descriptografar:active {
    background-color: #A9B3BD;
}
.box-mensagem{
    display: flex;
    position: relative;
    justify-content: center;
    justify-content: space-evenly;

}
.mensagem{
    background-image: url(imgs/boneco.svg);
    background-repeat: no-repeat;
    background-position: center 10px;
    text-align: center;
    padding: 10% 10%;
    border-radius: 22px;
    resize: none;
    outline: none;
    width: 40vh;
    height: 80vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}
.msg{
    position: absolute;
    top: 50%;
    padding: 5px 5px;
    list-style: none;
    line-height: 1.5;   
}
.msg-li{
    text-align: center;
    font-size: 16px;
    color: #495057;
}
.msg-li:first-child{
    font-weight: bold;
    font-size: 24px;
    color: black;
    
}
.btn-copiar{
    display: none;
    position: absolute;
    width: 80%;
    height: 10%;
    padding: 24px;
    gap: 8px;
    border: 1px solid #0A3871;
    border-radius: 20px;
    top: 80%;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    transition: background-color 0.3s ease-in-out;
}

.btn-copiar:hover {
    background-color: #0D4D91;
    border: 3px;
    font-size: 24px;
}

.btn-copiar:active {
    background-color: #072E57;
}
.alerta {
    position: absolute;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 14px;
    transition: opacity 0.3s ease-in-out;
}

@media screen  and (max-width: 768px){
     .mensagem{
        background-image: none;
        width: 688px;
        max-height: 343px;
        padding: auto;
        min-height: 133px;
     } 
}